body {
  font-family: sans-serif;
  background: #f4f4f4;
}

h1 {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

p {
  margin-top: 20px;
  font-weight: bold;
}
